.content-generate {
  display: flex;
  padding: 30px;
  background: linear-gradient(to right, #6c5b7b, #355c7d);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #b1b2d0;
  width: 100%;
}
label {
  color: aliceblue;
}
span {
  font-size: 13px;
}
.title-img-mask {
  color: aliceblue;
  font-size: 20px;
}
.content-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.prompt-input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background: var(--bg-home);
  color: white;
}

.prompt-input:disabled {
  background-color: #ccc; /* gris */
  cursor: not-allowed;
  opacity: 0.6;
}
.generate-button {
  padding: 12px 20px;
  background-color: #6e68bb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border: 1px solid #b1b2d0;
}

.generate-button:hover {
  background-color: #514d8d;
}
/* ////////////////////////////////////////////////////// */
.generate-button:disabled {
  background-color: #ccc; /* gris */
  cursor: not-allowed;
  opacity: 0.6;
}
/* ////////////////////boton de subir imagen */
.upload-file {
  display: flex;
  gap: 10px;
  align-items: center;
}
.upload-file button {
  padding: 10px;
  background: #287b9b;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: aliceblue;
}
.upload-file button:hover {
  background-color: #479bbd;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.upload-file button:disabled {
  background-color: #ccc; /* gris */
  cursor: not-allowed;
  opacity: 0.6;
}
