.content-home {
  padding: 40px;
  background: #355c7d;
  background: var(--bg-home);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.home {
  width: 368px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  color: aliceblue;
}

@media (max-width: 732px) {
  .content-home {
    flex-direction: column;
  }
}
