.content-home {
  padding: 40px;
  background: #355c7d; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.title {
  color: aliceblue;
}
