.nav {
  display: flex;
  gap: 15px;
  padding-top: 30px;
  border-radius: 8px;
}

.nav-button {
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid #007bff;
  background-color: white;
  color: #007bff;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #b1b2d0;
}

.nav-button:hover {
  background-color: #5d5071;
  color: white;
}

.nav-button.active {
  background-color: #5d5071;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* ///////////////////////////////stiles dropdown */

.examples-dropdown {
  display: flex;
  width: 188px;
}

.examples-dropdown .dropdown-label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  font-size: 14px;
}

.examples-dropdown .dropdown-select {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 14px;
  transition: border 0.3s, box-shadow 0.3s;
  cursor: pointer;
  width: 100%; /* limita al contenedor */
}

.examples-dropdown .dropdown-select:hover {
  border-color: #888;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.examples-dropdown .dropdown-select:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.examples-dropdown small {
  margin-top: 5px;
  color: #666;
  font-size: 12px;
  align-self: flex-end;
}
